// .suggest {
//     // opacity: 0;
//     // display: flex;
//     // flex-direction: column;
//     z-index: 99999999;


// }
.suggestion-container{
    position: fixed;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

.suggestion-container> :last-child> :first-child{
     
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
     
             
}
.suggestion{
    background-color: rgba(0,0,0,0);
    z-index: 10;
    .movieOption {
             width: 39%;
            position: relative;
            //     width: 200px;
            //     // cursor: pointer;
            // padding: 10px;
            margin-left: 950px;
            margin-right: 70px;
            margin-top: 0px;
            
    
            // opacity: 0.5;
            // z-index: 9999;
    
            background-color: rgb(219, 207, 207);
            // border-radius: 5px;
    
            padding: 10px;
            //    display: inline-table;
    
            display: flex;
            flex-direction: column;
            color: black;
            text-align: center;
    
    
        }
    
        .movieOption:hover {
            background-color: darkgray;
            cursor: pointer;
            color: maroon;
        }
  
}
      

.navbar{
    position: fixed;
        top: 0;
    color: white;
    font-size: 18px;
    z-index: 10;
    background-color: black;
    
   // margin-bottom: 70px;
    // background-color: var(--main-color);
    
    



    .container{
    //    position: fixed;
         height: 50px;
      .center{
         margin-left: -1200px;
            text-align: center;
            img {
                    width: 30px;
                    height: 25px;
                    border-radius: 5px;
                    object-fit: cover;
                    margin-right: 15px;
                }
            
                h3 {
                    text-align: center;
                    font-size: 25px;
                    color: burlywood;
                }
                
      }
        .center2{
               
    
            .searchList{
                cursor: pointer;
                margin-left: 100px;
            }

             width: 100%;
            text-align: left;
             margin: 0 auto;
             margin-top: 20px;
             display: block;
             border-radius: 10px;
             color: red;
             background-color: black;
             align-items: center;
             cursor: pointer;
             margin-left: 50px;
             margin-right: 1000px;
             font-family: 'BebasNeueRegular';

             .title-logo{
                 font-size: 22px;
                 color: red;
                 font-family: 'BebasNeueRegular';
             }
             
            span{
                margin-right: 30px;
                // #searchby{
                //     margin-left: 5px;
                //     border-radius: 10px;
                //     color: silver;
                //     background-color: black;
                //     cursor: pointer;
                // }
                margin-left: 10px ;
                color: white;
                font-size: 14px;
            }
            // .select {
                    
                    // .options{
                    //     display: none;
                    //     background-color: grey;
                    //     color: white;
                    //     border-radius: 10px;
                    // }
                    // span{
                    //     padding: 10px;
                    //     cursor: pointer;
                    // }
                    // &:hover{
                    //     .options{
                    //         display: flex;
                    //         flex-direction: column;
                    //         position: absolute;
                    //         align-items: center;
                    //         text-align: center;
                    //     }
                    // }
                    // align-items: center;
                    // text-align: center;
               // }
          //  .search{
                    input[type=text] {
                            width: 30%;
                            -webkit-transition: width 0.15s ease-in-out;
                            transition: width 0.15s ease-in-out;
                        }
                    
                        input[type=text]:focus {
                            width: 35%;
                        }
                    
                        input {
                            border-radius: 10px;
                            margin-bottom: auto;
                            color: silver;
                            background-color: black;
                            text-align: center;
                        }
                        
        //    }
                
            //    .homeicon{
            //        float:left
            //    }
       
                .icon {
                    cursor: pointer;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                
                .search{
                    float: right;
                    margin-right: 100px;
                }
        }
        
         
    }
}